<form method="post" action="/signin" class="form">
    <h1 class="title"<span style="color:black">Sign in</span></h1>

    <label for="email"></label>
    <input class="input" name="email" type="text" value="admin@faceplant.com">
    <label for="password"></label>
    <input class="input" name="password" type="password" value="123456">

    <button class="btn">Sign in</button>
    <hr>
    
    <p>
        No account yet ? <a class="link" href="/auth/signup">Please <span style="color:#1E90FF">Sign up</span> !</a>
    </p>
</form>