{{#each users}}
<div class="pub-pub">
      <div class="pub1">
          <a href="/publication/display-all-publication-one-writer/{{this._id}}"><div  class="pub1D">See all publications of : {{this.email}}</div><a>            
      </div>
</div>      
{{/each}}
