<nav id="nav-admin" class="nav">
    <div class="block">
        <span>Publications</span>
        <a class="link" href="/publication/list-all" title="manage publication"></a>
    </div>
    <div class="block">
        <span>Families</span>
        <a class="link" href="/family/list-all" title="create Family"></a>
    </div>
    <div class="block">
        <span>Plant</span>
        <a class="link" href="/plant/list-all" title="create plants"></a>
    </div>
</nav>