    <div class="block">
        <span>styles</span>
        <a class="link" href="/family/display-one" title="manage styles">
            <i class="fas fa-list-ul"></i>List all  plants et lien vers one plant
        </a>
    </div>
