<nav id="nav-main" class="nav">
    <a href="/" class="link">Home</a>
    <a href="/family/list-all" class="link">Family</a>
    <a href="/plant/list-all" class="link">Plants</a>
    <a href="/publication/list-all" class="link">Publication</a>
    <a href="" class="link">Trainings</a>
    {{#unless isLoggedIn}}
    <a href="/auth/signin" class="link">| signin</a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a href="/dashboard">| dashboard</a>
    {{/if}}
</nav>