<h1 class="title">Dashboard</h1>
<p id="dashboard-intro">
    Welcome to your dashboard {{currentUser.email}} | 
</p>
<hr>

<p id="dashboard-intro">
    <a href="/publication/display-all-publication-one-writer/{{currentUser._id}}">See all your publications</a>
</p>
<hr>

{{#if isAdmin}}
<a href="/admin">
    <span>admin panel</span>
    <i class="fas fa-user-shield"></i>
</a>
<hr>
{{/if}}
<a href="/auth/signout">
    <span>signout</span>
    <i class="fas fa-sign-out-alt"></i>
</a>
<hr>
