<div class="page">
    <h1 class="title">Home</h1>





 <h2 class="title">Publication</h2>
{{> publication/navListPublication}}
 <h2 class="title">Plant</h2>
{{> plant/navListPlant}}
 <h2 class="title">Family</h2>
{{> family/navListFamily}}




    <p>
        <b>Git pull</b> + copy the folder <b>module-2/week-1/day-4/artistify-intro</b><br>
        then, <b>npm install</b> to fetch the new dependencies
    </p>
    <hr>
    <h2 class="title">.env config</h2>

    <code>
        PORT = 9999<br>
        MONGO_URI = mongodb://localhost/artistify-0120<br>
        SESSION_SECRET = tKS?9AaLongStSringHardTOCrackjQ¨*SA?SA<br>
    </code>
    <h2 class="title">Bonus D.I.Y Todos</h2>
    <ul>
        <li>implement a <b>shop</b> CRUD system : any admin can create products</li>
        <li>ProductSchema = {name: String, price: Number, artist: ObjectId, image: String}</li>
</div>