<div class="page">
    <h1 class="title">Bienvenue sur le premier réseau social de plante</h1>
    
    <section class="home">
        <div class="all-left">
            <h2 class="title">Les derniers posts</h2>
            
            <div class="all-pub">
            {{> publication/navListPublication}}        
            </div>
           
            <a href="/publication/list-all">            
                <div class="liens">
                   > Voir tous les posts
                </div>
                </a>
            
            <div class="create-publication">
                <a href="/publication/create-publication"><button class="button-publication">Poster !</button></a>
            </div>

        </div>

        <div class="all-right">
            <div class="edito">
                <h4>Edito/h4>
                <p>La je raconte ma vie de boomer pour le bonheur de Paul,
                La je raconte ma vie de boomer pour le bonheur de Paul, 
                La je raconte ma vie de boomer pour le bonheur de Paul</p>
            </div>
            <div class="all-plants">
                <h2 class="title">Plant</h2>
                <div class="plant-home">
                    {{> plant/navListPlantHome}}
                </div>
                <div class="toutes">
                    <a href="/plant/list-all"><button class="button-publication">Toutes</button></a>

                    <a href="/plant/create-plant"><button class="button-publication">Create</a>
                </div>      
            </div>
            <div class="all-families">
                <h2 class="title">Family</h2>
                <div class="plant-home">
                   {{> family/navListFamilyHome}}
                </div>
                <div class="toutes">
                   <a href="/family/list-all"><button class="button-publication">Toutes</button></a>

                   <a href="/family/create-family"><button class="button-publication">Create</button></a>
                </div>
            </div>        
        </div>
    </section>
