<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FacePlant a Plant story</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/modules.css">
    <link rel="stylesheet" href="/css/form.css">

    <script src="/js/global.js" type="module"></script>

    {{#each data.css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    {{#if needAJAX}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{/if}}
    {{#each data.js}}
    <script src="/js/{{this}}" type="module"></script>
    {{/each}}
</head>

<body>
 
    <div id="agrandisseur" class="grand" onclick="myAgrandisseurClose()">
        <img id="agrandisseurImage" src="{{this.firstImage}}" onclick="myAgrandisseurClose()">
        <script>
            function myAgrandisseurClose() {
                document.getElementById("agrandisseur").style.display = "none";
            }
        </script>
    </div>

    <header id="header-main">
        <div class="row space-between">
            <a href="/" class="logo">FacePlant Community</a>
            {{> navMain}}
        </div>
        {{#if isAdmin}}
        {{> navAdmin}}
        {{/if}}
    </header>

    <main class="page">
        {{> flash_message }}
        {{{body}}}
    </main>

    <footer></footer>

</body>

</html>