#header-main {
    background: #0ec35f;
    color: whitesmoke;
    padding: 10px 20px;
}

.page {
    padding: 16px 20px 60px;
}

.home {
    display: flex;
    flex-direction: row;
}

.all-left {
    width: 60%;
    height: 100vh;
    margin-right: 5%;
    border-right: gray solid 1px;
    display: flex;
    flex-direction: column;
}

h2 {
    height: 10vh;
}

.liens {
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
    color: rgb(54, 233, 173);
    margin-bottom: 20px;
    margin-top: 20px;
}

#agrandisseur{
    display: none;
    position : absolute;
    top: 20px;
    left: 20px;
    margin: 30px;
    width: 1100px;
    height: 620px;
    background-color: #eadfdf;
}

#agrandisseurImage{
    display: block;
    position : absolute;
    top: 10px;
    left: 10px;
    width: 1000px;
    max-height: 600px;    
}

.create-publication{
   heigth : 10vh;
}

.button-publication{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 35%;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 30px;
    outline: none;
    border: 2px solid yellowgreen;
    margin-bottom: 30px;
}

.all-right {
    display: flex;
    flex-direction: column;
    width:35%;
}

.edito{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: auto;
    height: 30vh;
    border: #FFFF00 1px solid;
    padding: 10px;
    border-radius: 20px;
}

.edito p {
        font-size: 15px;
        color: black;
        text-align: center;
        outline: none;
        margin: 0;
}

.all-plants{
     heigth : 40vh;
     margin-top : 30px;
    display: flex;
    flex-direction: column; 
}

.all-families{    
     heigth : 40vh;
     margin-top : 30px;
    display: flex;
    flex-direction: column; 
}

.label-family{
    flex: 1;
    font-size:13px;
    color: #4f5a36;
    margin-bottom: 15px;
}

.plant-home{
    font-size:12px;
    color: darkslateblue;
    margin-bottom: 15px;
}

.toutes{
    flex: 1;
    font-size:16px;
    color: royalblue;   
    margin-bottom: 15px;
}

.create{
    flex: 1;
    font-size:16px;
    color: orchid;
    margin-bottom: 15px;
}

.pub-pub {
    display: flex;
    flex-direction: row; 
}


.pub1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 62%;
}

.pub2{
    width:30%;
    margin-left: 20px;
    cursor: pointer;
}

.pub2 img {
    width: 150px;
}

.pub1A{
    font-size: 12px;
    font-weight: bold;
    border-bottom: lightgreen solid 1px;
    margin-bottom: 15px;
}

.pub1B{
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 20px;

}

.pub1C{
    font-size: 12px;
    font-weight: lighter;  
    margin-bottom: 10px;
}

.pub1D{
    font-size: 11px;
    font-weight: bold;
    border-bottom: lawngreen solid 3px;    
}


.families-all {
    font-size: 16px;
    color: royalblue;
    margin-bottom: 15px;
}
    
    
@media screen and (max-width: 940px) {
   .all-left {
       border-right: none;
   }    
   
   .visi-decal {
     margin-top : 700px;   
   }
   
   .invisi-decal{
     margin-top : 400px;          
   }
   
}    


@media screen and (max-width: 640px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    
    .all-left {
        width:100%;
        border: none;    
    }
    .create-publication {
        text-align: center;
    }
    .button-publication {
        width: 80%;
        margin-bottom: 30px;
            
    }
    .all-right {
        margin-top:700px;
        width:100%;
    }
    .toutes {
        text-align: center;
    }
    .pub-pub {
        flex-direction: column;
        margin-bottom: 22px;
    }
    .pub1 {
        margin-bottom: 40px;
        width: 100%;
    }
    .pub2 {
       width: 100%;
       margin-left: 0;
    }
    .pub2 img {
        width: 100%;
    }
    .input-text-home {
        width: 100%;
    }
}    

