<h2>One family details</h2>

<p>This family Id is {{family._id}} and its label is {{family.label}}</p>

<hr>

<a href="/family/update/{{family._id}}">Update this family</a> 

<hr>

<a href="/family/list-all">Check all families</a> 