<h1> Update one family name</h1>

<div class="big-container product-manage-wrapper flexed-item">
  <form action="/family/update/{{family._id}}" method="post" class="add-product-form" enctype="multiparty/form-data">
    {{#if msg}}
    <p class="msg {{msg.status}}">{{msg.txt}}</p>
    {{/if}}
    <h3 class="form-title">Add Family to the collection</h3>
    <div>
      <label for="sneacker-name" class="label-name label">Family name</label>
      <input id="tag_name_input" name="label" type="text" class="input-text input" placeholder="ccc"
        value="{{family.label}}">
    </div>
    <button class="button-primary add-tag-btn">Update family</button>
  </form>
</div>



<hr>

<a href="/family/list-all">Check all families</a> 


