    <div class="block">
        List all families
     </div>

      {{#each families}}
      <a href="/family/display-one/{{this._id}}">
      <li class="tag-list-item">
          <label for="input_{{this._id}}">{{this.label}}</label>
      </li>
      </a>
      {{/each}}