{{#each plants}}
    <div class="label-family">
    <a href="/plant/display-one/{{this._id}}">
      {{this.vernaculaire}} -
      {{this.autreNom}} -
      {{this.cultivar}} 
     </a>
    </div>
{{/each}}


  

